<div class="withPaddingBottom">
    <div class="row div">
        <div class="col-xs-12">
            <md-expansion-panel>
                <md-expansion-panel-header style="padding-top:10px; padding-bottom:10px">
                    <md-panel-title>
                        <i class="material-icons" style="vertical-align: middle">turned_in</i>
                        <b>{{title}}</b>
                    </md-panel-title>
                    <md-panel-description>
                        {{description}}
                    </md-panel-description>
                </md-expansion-panel-header>
                <ul class="projects">
                    <li *ngFor="let project of ( projects | projectPipeFilter : [{tema: tema, cercaText: cercaText}] ) "
                    [class.selected]="project.show" 
                    (click)="project.show = !project.show;">
                        <app-project [project]="project"></app-project>
                    </li>
                </ul>
            </md-expansion-panel>            
        </div>
    </div>
</div>