.selected {
    background-color: #CFD8DC !important;
    color: #369;
}
.projects {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
}
.projects li {
  cursor: pointer;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  border-radius: 4px;
}
.projects li.selected:hover {
  background-color: #BBD8DC !important;
  color: #369;
}
.projects li:hover {
  color: black;
  background-color: #DDD;
  left: .1em;
}
