<ngx-carousel
[inputs]="carouselOne"
(carouselLoad)="myfunc($event)">
  <ngx-item NgxCarouselItem *ngFor="let project of carousel">
    <div class="imatge" (click)="gotoCarousel(project.link)">
      <img [style]="project.style | safeStyle">
      <div class="etiqueta">{{project.text}}</div>
    </div>
  </ngx-item>
  <button NgxCarouselPrev class='leftRs'><i class="glyphicon glyphicon-chevron-left"></i></button>
  <button NgxCarouselNext class='rightRs'><i class="glyphicon glyphicon-chevron-right"></i></button>
</ngx-carousel>