<h3>Angular2 Projects with Typescript</h3>
<ul class="projects">
    <li *ngFor="let project of ( projects | projectPipeFilter : 'Angular2' ) "
    [class.selected]="project.show" 
    (click)="project.show = !project.show;">
        <app-project [project]="project"></app-project>
    </li>
</ul>
<h3>Unity Projects</h3>
<ul class="projects">
    <li *ngFor="let project of ( projects | projectPipeFilter : 'Unity' ) "
    [class.selected]="project.show" 
    (click)="project.show = !project.show;">
        <app-project [project]="project"></app-project>
    </li>
</ul>
<h3>Google Trends Comparative</h3>
<ul class="projects">
    <li *ngFor="let project of ( projects | projectPipeFilter : 'Trends' ) "
    [class.selected]="project.show" 
    (click)="project.show = !project.show;">
        <app-project [project]="project"></app-project>
    </li>
</ul>