<div class="row withPaddingTop">
    <div class="col-xs-12">
        <p class="capcalera withPaddingLeft withPaddingTop withPaddingBottom">
            <i class="material-icons" style="vertical-align: middle">search</i>
            <label>{{'FindInProjectsTitle' | translate}}</label>
            <input #input class="inputSearch" type="text" (input)="update.emit(input.value)" (update)="cercaText = $event" [placeholder]="'FindInProjectsDescription' | translate"/>
            <span *ngIf="projects">se han encontrado {{(projects | projectPipeFilter : [{cercaText: input.value}]).length }} resultados.</span>
        </p>
    </div>
</div>
<app-project-list [tema]="'Angular2'" [cercaText]="input.value" [title]="'TitleGroupAngular2' | translate" 
    [description]="'DescriptionGroupAngular2' | translate">
</app-project-list>
<app-project-list [tema]="'Unity'" [cercaText]="input.value" [title]="'TitleGroupUnity' | translate"
    [description]="'DescriptionGroupUnity' | translate">
</app-project-list>
<app-project-list [tema]="'Trends'" [cercaText]="input.value" [title]="'TitleGroupGoogleTrends' | translate"
    [description]="'DescriptionGroupGoogleTrends' | translate">
</app-project-list>
<app-project-list [tema]="'Java'" [cercaText]="input.value" [title]="'TitleGroupJava' | translate"
    [description]="'DescriptionGroupJava' | translate">
</app-project-list>
<app-project-list [tema]="'Ionic'" [cercaText]="input.value" [title]="'TitleGroupIonic' | translate"
    [description]="'DescriptionGroupIonic' | translate">
</app-project-list>