<div class="withPaddingTop">
    <div class="row div withPaddingTop">
        <div class="col-xs-12">
            <div *ngIf="project">
                <h2 class="withPaddingLeft">{{project.id}}. {{project.titol}} ({{project.data}}) - <button *ngIf="project.link" (click)="goLink()">project link</button></h2>
                <p innerHTML="{{project.html}}"></p>
                <p *ngIf="project.repositori" class="capcalera withPaddingLeft">Source code in the <a href="{{project.repositori}}" target="_blank">repository project</a>.</p>
            </div>
        </div>
    </div>
    <div class="row withPaddingTop">
        <div class="col-xs-12">
        <button (click)="goBack()">Back</button>
        </div>
    </div>
</div>