<div class="withPaddingTop">
    <div class="row div withPaddingTop">
        <div class="col-xs-12">
            <div *ngIf="project">
                <div class="titolProjecteText withPaddingLeft">
                    {{project.id}}. {{project.titol}} ({{project.data}})
                    <button *ngIf="project.link" (click)="goLink()">{{ 'ProjectLinkText' | translate }}</button>
                    <span class="estilEstat">{{ 'StateText' | translate }} <b>{{project.estat}}</b></span></div>
                <p innerHTML="{{project.html}}"></p>
                <p *ngIf="project.repositori" class="repositoriText withPaddingLeft">{{ 'SourceText1' | translate }} <a href="{{project.repositori}}" target="_blank">{{ 'SourceText2' | translate }}</a>.</p>
            </div>
        </div>
    </div>
    <div class="row withPaddingTop withPaddingBottom">
        <div class="col-xs-12">
            <button (click)="goBack()">{{ 'Back' | translate }}</button>
        </div>
    </div>
</div>