*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
[class*='col-'] {
  padding-right: 10px;
  padding-bottom: 10px;
}
.module_example {
    padding: 10px;
    text-align: center;
    color: #fff;
    min-height: 160px;
    min-width: 120px;
    background-color: #5DADE2;
    border-radius: 4px;
    border: 5px solid #21618C;
}
.module_example:hover {
    background-color: #21618C;
    cursor: pointer;
    border: 5px solid #5DADE2;
}
.module_component {
    padding: 10px;
    text-align: center;
    color: #fff;
    min-height: 160px;
    min-width: 120px;
    background-color: #3498DB;
    border-radius: 4px;
    border: 5px solid #21618C;
}
.module_component:hover {
    background-color: #21618C;
    cursor: pointer;
    border: 5px solid #3498DB;
}
.module_project {
    padding: 10px;
    text-align: center;
    color: #fff;
    min-height: 160px;
    min-width: 120px;
    background-color: #2E86C1;
    border-radius: 4px;
    border: 5px solid #21618C;
}
.module_project:hover {
    background-color: #21618C;
    cursor: pointer;
    border: 5px solid #2E86C1;
}
.module_comparative {
    padding: 10px;
    text-align: center;
    color: #fff;
    min-height: 160px;
    min-width: 120px;
    background-color: #2874A6;
    border-radius: 4px;
    border: 5px solid #21618C;
}
.module_comparative:hover {
    background-color: #21618C;
    cursor: pointer;
    border: 5px solid #2874A6;
}