<div class="row">
  <div class="leyendas col-xs-12">
    <p innerHTML="{{title}}"></p>
    <div class="legend">
      <div class="leyenda">Legend</div>
      <ul>
        <li>
          <a href="/#/type/example" class="legend-examples">Examples</a>
          To come up with a good idea, first you have to do a lot of testing.</li>
        <li>
          <a href="/#/type/component" class="legend-components">Components</a>
          Reusable components in Angular 2 and Unity 3D for make the programmer's life easier.
        </li>
        <li>
          <a href="/#/type/project" class="legend-projects">Projects</a>
          Actually or future projects I'm going to do.
        </li>
        <li>
          <a href="/#/type/comparative" class="legend-comparatives">Comparatives</a>
          Worldwide Google Searches investigations with Google Trends.
        </li>
      </ul>
    </div>
  </div>
  <div class="col-xs-12">
    <nav class="dashboard-proyectos">
      <a routerLink="/dashboard" routerLinkActive="active">Dashboard View</a>
      <a routerLink="/projects" routerLinkActive="active">List Of Projects</a>
    </nav>
  </div>
  <div class="col-xs-12">
    <router-outlet></router-outlet>
  </div>
</div>
