<div class="container-fluid">
  <div class="row">
    <div class="col-sm-1 hidden-xs">
      <div class="social">
        <ul>
          <li>
            <a href="https://www.facebook.com/sharer.php?u=https://www.davidmartinezros.com&title=A%20Catalan%20Software%20Engineer!%20Try%20it%20and%20have%20fun!"
              target="_blank" class="icon-facebook"></a>
          </li>
          <li>
            <a href="https://twitter.com/intent/tweet?text=A%20Catalan%20Software%20Engineer!%20Try%20it%20and%20have%20fun!&url=https%3A%2F%2Fwww.davidmartinezros.com%2F&via=davidnezan"
              target="_blank" class="icon-twitter"></a>
          </li>
          <li>
            <a href="https://plus.google.com/share?url=https%3A%2F%2Fwww.davidmartinezros.com&text=A%20Catalan%20Software%20Engineer!%20Try%20it%20and%20have%20fun!"
              target="_blank" class="icon-google-plus"></a>
          </li>
          <li>
            <a href="https://www.linkedin.com/shareArticle?title=A%20Catalan%20Software%20Engineer!%20Try+it+and+have+fun%21&mini=true&url=https%3A%2F%2Fwww%2Edavidmartinezros%2Ecom"
              target="_blank" class="icon-linkedin"></a>
          </li>
          <li><a href="mailto:davidnezan@gmail.com" class="icon-mail"></a></li>
          <li><a href="https://www.github.com/davidmartinezros" target="_blank" class="icon-github"></a></li>
        </ul>
      </div>
      <div class="home">
        <a href="http://davidmartinezros.com">{{ 'Home' | translate }}</a>
        <a href="https://www.linkedin.com/in/david-mart%C3%ADnez-ros-912862131/" target="_blank">{{ 'About' | translate }}</a>
      </div>
    </div>
    <div class="col-sm-11 col-xs-12 withPaddingTop divContent">
      <div class="row">
        <div class="col-sm-3 hidden-xs">
          <img class="img-thumbnail hidden-xs" src="assets/foto_petita.jpg" alt="David Martinez Ros" title="David Martinez Ros" width="250" height="250"/>
        </div>
        <div class="col-sm-9 col-xs-12">
          <div class="row div">
            <div class="col-xs-12">
              <div class="row">
                <div class="col-xs-12">
                    <span  style="float:right"><a (click)="changeLanguage('es')">ES</a> | <a (click)="changeLanguage('en')">EN</a> | <a (click)="changeLanguage('zh')">ZH</a></span>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <h2 class="withPaddingLeft">
                    David Martinez Ros (<a href="http://www.twitter.com/davidnezan" target="_blank">@davidnezan</a>)
                  </h2>
                </div>
              </div>
              
              <p>
                <span [innerHtml]="'Introduction1' | translate"></span>
                <br/>
                <span [innerHtml]="'Introduction2' | translate"></span>
              </p>
              <p class="repositoriText withPaddingLeft">
                <span [innerHtml]="'Introduction3' | translate"></span>
              </p>
              <p class="pButtonTry">
                <button (click)="showIntroductionAlert()">{{ 'IntroductionAlertMessage' | translate }}</button>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row div hidden-xs">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-12">
              <h2 class="withPaddingLeft">{{ 'Title1' | translate }}</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <ul>
                <li>
                  <strong>{{ 'Subtitle1.1' | translate }}</strong>
                  <ul>
                    <li [innerHtml]="'Description1.1.1' | translate "></li>
                  </ul>
                </li>
                <li>
                  <strong>{{ 'Subtitle1.2' | translate }}</strong>
                  <ul>
                    <li [innerHtml]="'Description1.2.1' | translate "></li>
                  </ul>
                </li>
                <li>
                  <strong>{{ 'Subtitle1.3' | translate }}</strong>
                  <ul>
                    <li [innerHtml]="'Description1.3.1' | translate "></li>
                  </ul>
                </li>
                <li>
                  <strong>{{ 'Subtitle1.4' | translate }}</strong>
                  <ul>
                    <li [innerHtml]="'Description1.4.1' | translate "></li>
                  </ul>
                </li>
                <li>
                  <strong>{{ 'Subtitle1.5' | translate }}</strong>
                  <ul>
                    <li [innerHtml]="'Description1.5.1' | translate "></li>
                  </ul>
                </li>
                <li>
                  <strong>{{ 'Subtitle1.6' | translate }}</strong>
                  <ul>
                    <li [innerHtml]="'Description1.6.1' | translate "></li>
                    <li [innerHtml]="'Description1.6.2' | translate "></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 withPaddingTop">
          <p class="capcalera withPaddingLeft" [innerHtml]="'Title2' | translate"></p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-12">
              <div class="row">
                <div class="col-xs-12">
                  <div class="row div">
                    <div class="col-xs-12">
                      <h2 class="withPaddingLeft">{{ 'Title3' | translate }}</h2>
                      <ul class="legend-ul">
                        <li class="legend-li">
                          <div class="row">
                            <div class="col-xs-6 col-sm-4 col-lg-2">
                              <a routerLink="/type/example" routerLinkActive="active" class="legend-link legend-examples">{{ 'Subtitle3.1' | translate }}</a>
                            </div>
                            <div class="col-xs-6 col-sm-8 col-lg-9">
                              <span class="legendTexts">{{ 'Description3.1.1' | translate }}</span>
                            </div>
                          </div>
                        </li>
                        <li class="legend-li">
                          <div class="row">
                            <div class="col-xs-6 col-sm-4 col-lg-2">
                              <a routerLink="/type/component" routerLinkActive="active" class="legend-link legend-components">{{ 'Subtitle3.2' | translate }}</a>
                            </div>
                            <div class="col-xs-6 col-sm-8 col-lg-9">
                              <span class="legendTexts">{{ 'Description3.2.1' | translate }}</span>
                            </div>
                          </div>
                        </li>
                        <li class="legend-li">
                          <div class="row">
                            <div class="col-xs-6 col-sm-4 col-lg-2">
                              <a routerLink="/type/project" routerLinkActive="active" class="legend-link legend-projects">{{ 'Subtitle3.3' | translate }}</a>
                            </div>
                            <div class="col-xs-6 col-sm-8 col-lg-9">
                              <span class="legendTexts">{{ 'Description3.3.1' | translate }}</span>
                            </div>
                          </div>
                        </li>
                        <li class="legend-li">
                          <div class="row">
                            <div class="col-xs-6 col-sm-4 col-lg-2">
                              <a routerLink="/type/comparative" routerLinkActive="active" class="legend-link legend-comparatives">{{ 'Subtitle3.4' | translate }}</a>
                            </div>
                            <div class="col-xs-6 col-sm-8 col-lg-9">
                              <span class="legendTexts">{{ 'Description3.4.1' | translate }}</span>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 withPaddingTop">
              <nav class="dashboard-proyectos div withPaddingLeft withPaddingBottom">
                <a routerLink="/dashboard" routerLinkActive="active">{{ 'Menu1' | translate }}</a>
                <a routerLink="/projects" routerLinkActive="active">{{ 'Menu2' | translate }}</a>
                <a routerLink="/following" routerLinkActive="active">{{ 'Menu3' | translate }}</a>
              </nav>
            </div>
            <div class="col-xs-12">
              <router-outlet></router-outlet>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
