.div ul {
  list-style: none;
}
.div ul li {
  padding-top: 10px;
}
.div ul li a {
  display: block;
  padding: 10px;
  color:#fff;
  background: #000;
  text-decoration: none;
  -webkit-transition:all 500ms ease;
  -o-transition:all 500ms ease;
  transition:all 500ms ease; /* Establecemos una transición a todas las propiedades */
}

.div ul li .legend-examples {background:#5DADE2;} /* Establecemos los colores de cada red social, aprovechando su class */
.div ul li .legend-components {background: #3498DB;}
.div ul li .legend-projects {background: #2E86C1;}
.div ul li .legend-comparatives {background: #2874A6;}

.div ul li a:hover {
  background-color: #BBD8DC; /* Cambiamos el fondo cuando el usuario pase el mouse */
  color: #21618C;
}
.legendTexts {
  color: #21618C;
  vertical-align: -webkit-baseline-middle;
}
.dashboard-proyectos {
	display: block;
	margin: auto;
}
