<p innerHTML="{{title}}"></p>
<div class="legend" style="border:1px solid #000">
  <div style="background-color:#BBD8DC; color: #607D8B">Legend</div>
  <ul>
    <li><a href="#" class="legend-examples">Examples</a> To come up with a good idea, first you have to do a lot of testing.</li>
    <li><a href="#" class="legend-components">Components</a> Reusable components in Angular 2 and Unity 3D for make the programmer's life easier.</li>
    <li><a href="#" class="legend-projects">Projects</a> Actually or future projects I'm going to do.</li>
    <li><a href="#" class="legend-comparatives">Comparatives</a> Worldwide Google Searches investigations with Google Trends.</li>
  </ul>
</div>
<nav style="display: block; margin: auto">
    <a routerLink="/dashboard" routerLinkActive="active">Dashboard View</a>
    <a routerLink="/projects" routerLinkActive="active">List Of Projects</a>
</nav>
<router-outlet></router-outlet>