h1 {
  font-size: 1.2em;
  color: #999;
  margin-bottom: 0;
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #5DADE2;
  color: #21618C;
  border-radius: 4px;
  cursor: pointer; cursor: hand;
}

nav a:hover {
  background-color: #21618C;
  color: #FFF;
}
.leyenda {
	background-color:#BBD8DC;
	color: #21618C;
}
.legend {
	 border:1px solid #21618C;
}
.legend ul {
  list-style: none;
}

.legend ul li a {
  display: inline-block;
  color:#fff;
  background: #000;
  width:130px;
  padding: 10px 15px;
  text-decoration: none;
  -webkit-transition:all 500ms ease;
  -o-transition:all 500ms ease;
  transition:all 500ms ease; /* Establecemos una transición a todas las propiedades */
}

.legend ul li .legend-examples {background:#5DADE2;} /* Establecemos los colores de cada red social, aprovechando su class */
.legend ul li .legend-components {background: #3498DB;}
.legend ul li .legend-projects {background: #2E86C1;}
.legend ul li .legend-comparatives {background: #2874A6;}

.legend ul li a:hover {
  background-color: #BBD8DC; /* Cambiamos el fondo cuando el usuario pase el mouse */
  color: #21618C;
  padding: 10px 15px; /* Hacemos mas grande el espacio cuando el usuario pase el mouse */
}

.leyendas {
  color: #21618C;
	font-weight: normal;
}
.dashboard-proyectos {
	display: block;
	margin: auto;
}
