<div class="withPaddingTop">
  <div class="row div">
    <div class="col-xs-12">
      <div class="table-responsive">
          <table
            summary="This table follows the project I have done or I'm doing actually'"
            class="table table-bordered table-hover table-striped">
          <caption>Project Following</caption>
          <thead>
            <tr class="row capcaleresTaula">
              <th class="col-xs-1 col-sm-1">#</th>
              <th class="col-xs-11 col-sm-5">Title</th>
              <th class="col-sm-2 hidden-xs">Theme</th>
              <th class="col-sm-2 hidden-xs">Type</th>
              <th class="col-sm-2 hidden-xs">Data</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let project of projects; let i = index" (click)="gotoDetail(project)" class="row textosTaula">
              <td class="col-xs-1 col-sm-1" [class]="getStyleClass(project)">{{project.id}}</td>
              <td class="col-xs-11 col-sm-5">{{project.titol}}</td>
              <td class="col-sm-2 hidden-xs">
                {{project.tema}}
                <i *ngIf="project.tema == 'Angular2'" class="devicon-angularjs-plain colored"></i>
                <i *ngIf="project.tema == 'Google Trends'" class="devicon-google-plain colored"></i>
                <i *ngIf="project.tema == 'Java'" class="devicon-java-plain colored"></i>
                <i *ngIf="project.tema == 'Javascript'" class="devicon-javascript-plain colored"></i>
              </td>
              <td class="col-sm-2 hidden-xs">{{project.tipus}}</td>
              <td class="col-sm-2 hidden-xs">{{project.data}}</td>
            </tr>          
          </tbody>
          <tfoot>
            <tr class="row capcaleresTaula">
              <th class="col-xs-1 col-sm-1">#</th>
              <th class="col-xs-11 col-sm-5">Title</th>
              <th class="col-sm-2 hidden-xs">Theme</th>
              <th class="col-sm-2 hidden-xs">Type</th>
              <th class="col-sm-2 hidden-xs">Data</th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>