*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
[class*='col-'] {
  padding-right: 20px;
  padding-bottom: 5px;
}
.module_example {
  text-align: center;
  color: #fff;
  background-color: #5DADE2;
  border-radius: 2px;
}
.module_example:hover {
  background-color: #BBD8DC;
  cursor: pointer;
  color: #21618C;
}
.module_component {
  text-align: center;
  color: #fff;
  background-color: #3498DB;
  border-radius: 2px;
}
.module_component:hover {
  background-color: #BBD8DC;
  cursor: pointer;
  color: #21618C;
}
.module_project {
  text-align: center;
  color: #fff;
  background-color: #2E86C1;
  border-radius: 2px;
}
.module_project:hover {
  background-color: #BBD8DC;
  cursor: pointer;
  color: #21618C;
}
.module_comparative {
  text-align: center;
  color: #fff;
  background-color: #2874A6;
  border-radius: 2px;
}
.module_comparative:hover {
  background-color: #BBD8DC;
  cursor: pointer;
  color: #21618C;
}
.textosTaula {
  text-align: center;
  color: #000;
  background-color: #FFF;
  border-radius: 2px;
}
.textosTaula:hover {
  background-color: #BBD8DC;
  cursor: pointer;
  color: #21618C;
}
.capcaleresTaula {
  background-color: #21618C;
  color: #FFF;
  border-radius: 2px;
}
