.badge_example {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 10px 10px 10px 10px;
  background-color: #5DADE2;
  border-radius: 4px 0 0 4px;
}
.badge_component {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 10px 10px 10px 10px;
  background-color: #3498DB;
  border-radius: 4px 0 0 4px;
}
.badge_project {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 10px 10px 10px 10px;
  background-color: #2E86C1;
  border-radius: 4px 0 0 4px;
}
.badge_comparative {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 10px 10px 10px 10px;
  background-color: #2874A6;
  border-radius: 4px 0 0 4px;
}
.buttons {
  float: right;
  padding: .3em 0.7em 0;
}
.buttons .theme {
  color: #369;
}
div.divContentDetail {
  color: #888;;
  background-color: #fff;
  left: .1em;
  padding: 10px 10px 10px 10px;
  border: 1px solid #BBD8DC;  
}
label {
  display: inline-block;
  width: 3em;
  margin: .5em 0;
  color: #607D8B;
  font-weight: bold;
}
input {
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
}
