.badge_example {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #d95232;
  line-height: 1em;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}
.badge_component {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #00abf0;
  line-height: 1em;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}
.badge_project {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #3b5998;
  line-height: 1em;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}
.badge_comparative {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #ae181f;
  line-height: 1em;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}
.buttons {
  float: right;
  padding: .3em 0.7em 0;
}
.buttons .theme {
  color: #369;
}
div {
  color: #888;;
  background-color: #ffffff;
  left: .1em;
  padding: 0.8em 0.7em 0 1.7em;
  border: 1px solid #BBD8DC;  
}
label {
  display: inline-block;
  width: 3em;
  margin: .5em 0;
  color: #607D8B;
  font-weight: bold;
}
input {
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
}
button {
  margin-top: 20px;
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer; cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #ccc; 
  cursor: auto;
}
