.badge_example {
  display: inline-block;
  font-size: small;
  color: white;
  margin-left: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 10px 10px 10px 10px;
  background-color: #5DADE2;
  border-radius: 4px 0 0 4px;
  border: 1px solid #21618C;
}
.badge_component {
  display: inline-block;
  font-size: small;
  color: white;
  margin-left: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 10px 10px 10px 10px;
  background-color: #3498DB;
  border-radius: 4px 0 0 4px;
  border: 1px solid #21618C;
}
.badge_project {
  display: inline-block;
  font-size: small;
  color: white;
  margin-left: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 10px 10px 10px 10px;
  background-color: #2E86C1;
  border-radius: 4px 0 0 4px;
  border: 1px solid #21618C;
}
.badge_comparative {
  display: inline-block;
  font-size: small;
  color: white;
  margin-left: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 10px 10px 10px 10px;
  background-color: #2874A6;
  border-radius: 4px 0 0 4px;
  border: 1px solid #21618C;
}
.buttons {
  float: right;
  padding: .3em 1.4em 0;
}
.buttons .theme {
  color: orangered;
}
div.divContentDetail {
  color: #888;;
  background-color: #fff;
  left: .1em;
  border: 1px solid #BBD8DC;  
}
label {
  display: inline-block;
  width: 3em;
  margin: .5em 0;
  color: #607D8B;
  font-weight: bold;
}
input {
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
}
.estilEstat {
  border: 1px solid #21618C;
  padding: 5px;
  margin-left:15px; 
}
