*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
[class*='col-'] {
  padding-right: 20px;
  padding-bottom: 20px;
}
.module_example {
    padding: 20px;
    text-align: center;
    color: #fff;
    max-height: 120px;
    min-width: 120px;
    background-color: #5DADE2;
    border-radius: 2px;
}
.module_example:hover {
  background-color: #BBD8DC;
  cursor: pointer;
  color: #21618C;
}
.module_component {
    padding: 20px;
    text-align: center;
    color: #fff;
    max-height: 120px;
    min-width: 120px;
    background-color: #3498DB;
    border-radius: 2px;
}
.module_component:hover {
  background-color: #BBD8DC;
  cursor: pointer;
  color: #21618C;
}
.module_project {
    padding: 20px;
    text-align: center;
    color: #fff;
    max-height: 120px;
    min-width: 120px;
    background-color: #2E86C1;
    border-radius: 2px;
}
.module_project:hover {
  background-color: #BBD8DC;
  cursor: pointer;
  color: #21618C;
}
.module_comparative {
    padding: 20px;
    text-align: center;
    color: #fff;
    max-height: 120px;
    min-width: 120px;
    background-color: #2874A6;
    border-radius: 2px;
}
.module_comparative:hover {
  background-color: #BBD8DC;
  cursor: pointer;
  color: #21618C;
}
