* {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  margin: 1em;
}
button {
  padding: 5px 10px;
  text-decoration: none;
  color: #607D8B;
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer; cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}
/* Master Styles */
h1 {
  color: #21618C;
  font-size: 250%;
}
h2, h3 {
  color: #21618C;
	background-color: #FFF;
}
.imgBackground {
		padding-top: 10px;
		padding-bottom: 10px;
    background-image: url('./assets/background.jpg');
}
p {
	color: #21618C;
	background-color: #FFF;
	font-weight: normal;
}
.projects {
	color: #21618C;
	font-weight: normal;
}
.projects>ul {
	 list-style-type: circle;
}
/* . . . */
div.links {
	color: #DDD;
  background-color: #607D8B;
  left: .1em;
}
div.links a {
	color: white;
	text-decoration: none;
}
a:link, a:visited {
	font-weight: bold;
	color: #38488f;
	text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/* redes sociales*/
.social {
	position: fixed; /* Hacemos que la posición en pantalla sea fija para que siempre se muestre en pantalla*/
	left: 0; /* Establecemos la barra en la izquierda */
	top: 18px; /* Bajamos la barra 200px de arriba a abajo */
	z-index: 2000; /* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */
}
 
	.social ul {
		list-style: none;
	}
 
	.social ul li a {
		display: inline-block;
		color:#fff;
		background: #000;
		padding: 10px 15px;
		text-decoration: none;
		-webkit-transition:all 500ms ease;
		-o-transition:all 500ms ease;
		transition:all 500ms ease; /* Establecemos una transición a todas las propiedades */
	}

	.social ul li .icon-facebook {background:#3b5998;} /* Establecemos los colores de cada red social, aprovechando su class */
	.social ul li .icon-twitter {background: #55acee;}
	.social ul li .icon-google-plus {background: #dd4b39;}
  .social ul li .icon-instagram {background: #125688;}
	.social ul li .icon-pinterest {background: #cb2027;}
  .social ul li .icon-github {background: #000000;}
	.social ul li .icon-youtube {background: #bb0000;}
	.social ul li .icon-linkedin {background: #007bb5;}
	.social ul li .icon-flickr {background: #ff0084;}
	.social ul li .icon-mail {background: #666666;}
 
	.social ul li a:hover {
		background-color: #BBD8DC; /* Cambiamos el fondo cuando el usuario pase el mouse */
		color: #21618C;
		padding: 10px 30px; /* Hacemos mas grande el espacio cuando el usuario pase el mouse */
	}
