* {
	font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
}
/* Imagen utilizada por defecto, la que se utlizará en pantallas pequeñas */
body {
    background-color: #21618C;
		margin: 0;
		padding: 0;
}
.divContent {
		background : url('./assets/background.jpg');
		border: 1px solid white;
}
.div {
		margin: 1px;
		border-radius: 4px;	
		list-style-type: circle;
		color: #21618C;
		background-color: #fff;
		border: 1px solid #21618C;
		opacity: 0.8;
		filter:alpha(opacity=80); /* For IE8 and earlier */
}
.div:hover, .div:active {
		opacity: 1.0;
		filter:alpha(opacity=100); /* For IE8 and earlier */
}

/* Imagen utilizada en pantallas de anchura 480 px y superior */
@media only screen and (max-width: 768px) and (orientation:landscape) {
	 .div {
				opacity: 1.0;
				filter:alpha(opacity=100); /* For IE8 and earlier */
		}
}
@media only screen and (max-width: 768px) and (orientation:portrait) {
		.div {
				opacity: 1.0;
				filter:alpha(opacity=100); /* For IE8 and earlier */
		}		
}

.titolBarraSuperior {
	color: #FFF;
	font-size: 200%;
}

@media only screen and (max-width: 480px) {
  .titolBarraSuperior {
    font-size: 150%;
  }
}
button {
	padding: 5px 10px;
  text-decoration: none;
	color: white;
	background-color: orangered;
  border: 1px solid red;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer; cursor: hand;
}
button:hover {
  background-color: red;
  border: 1px solid orangered;
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}
/* Master Styles */
h1 {
	border-radius: 4px;
  color: #21618C;
	background-color: #FFF;
  font-size: 250%;
}
h2 {
	border-radius: 4px;
	color: #21618C;
	background-color:#BBD8DC;
}
h3 {
  border-radius: 4px;
	color: #21618C;
	background-color:#BBD8DC;
}
h4 {
  color: #FFF;
}
a {
	font-weight: bold;
	color: orangered;
}
a:link, a:visited {
	font-weight: bold;
	color: orangered;
	text-decoration: none;
	font-size: 130%;
}
a:hover {
	color: red;
	text-decoration: underline;
	cursor: pointer; cursor: hand;
}
a:active {
	color: white;
	background-color: red;
}

.barraSuperior {
	width: 100%;
	position: fixed; /* Hacemos que la posición en pantalla sea fija para que siempre se muestre en pantalla*/
	left: 0; /* Establecemos la barra en la izquierda */
	top: 0px; /* Bajamos la barra 200px de arriba a abajo */
	z-index: 2000; /* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */
	/*border-radius: 4px;*/
	color: #FFF;
	background-color:#21618C;
	border: 1px solid #FFF;
}

.barraInferior {
	width: 100%;
	position: fixed; /* Hacemos que la posición en pantalla sea fija para que siempre se muestre en pantalla*/
	left: 0; /* Establecemos la barra en la izquierda */
	/*top: 0px; /* Bajamos la barra 200px de arriba a abajo */
	bottom: 0px;
	z-index: 2000; /* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */
	/*border-radius: 4px;*/
	color: #FFF;
	background-color:#21618C;
	border: 1px solid #FFF;
}

.social {
	display: inline-block;
}
.social ul {
	list-style: none;
	padding-left: 10px;
}

.social ul li {
	display: inline-block;
	padding-top:20px;
}

.social ul li a {
	color:#fff;
	background: #000;
	padding: 10px 15px;
	border: 1px solid white;
	text-decoration: none;
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease; /* Establecemos una transición a todas las propiedades */
}

.social ul li .icon-facebook {background:#3b5998;} /* Establecemos los colores de cada red social, aprovechando su class */
.social ul li .icon-twitter {background: #55acee;}
.social ul li .icon-google-plus {background: #dd4b39;}
.social ul li .icon-instagram {background: #125688;}
.social ul li .icon-pinterest {background: #cb2027;}
.social ul li .icon-github {background: #000000;}
.social ul li .icon-youtube {background: #bb0000;}
.social ul li .icon-linkedin {background: #007bb5;}
.social ul li .icon-flickr {background: #ff0084;}
.social ul li .icon-mail {background: #666666;}

.social ul li a:hover {
	background-color: #BBD8DC; /* Cambiamos el fondo cuando el usuario pase el mouse */
	color: #21618C;
	/*padding: 10px 15px 30px; /* Hacemos mas grande el espacio cuando el usuario pase el mouse */
}
.capcalera {
	border-radius: 4px;
  background-color:#BBD8DC;
	border: 1px solid #21618C;
	color: #21618C;
  opacity: 1.0;
  filter:alpha(opacity=100); /* For IE8 and earlier */
}
.repositoriText {
	border-radius: 4px;
  background-color:#BBD8DC;
	color: #21618C;
  opacity: 1.0;
  filter:alpha(opacity=100); /* For IE8 and earlier */
}
.titolProjecteText {
	border-radius: 4px;
  background-color:#BBD8DC;
	font-weight: bold;
	color: #21618C;
  opacity: 1.0;
  filter:alpha(opacity=100); /* For IE8 and earlier */
}
.withPaddingLeft {
	padding-left: 10px;
}
.withPaddingRight {
	padding-right: 10px;
}
.withPaddingTop {
  padding-top: 10px;
}
.withPaddingTopMedium {
  padding-top: 30px;
}
.withPaddingTopHeader {
  padding-top: 60px;
}
@media only screen and (max-width: 1302px) and (min-width:480px) {
	.withPaddingTopHeader {
		padding-top: 100px;
	}		
}

@media only screen and (max-width: 1350px) and (min-width:1304px) {
	.withPaddingTopHeader {
		padding-top: 80px;
	}		
}
@media only screen and (max-width: 480px) {
	.withPaddingTopHeader {
		padding-top: 80px;
	}		
}

.titolBarraSuperior {
color: #FFF;
font-size: 200%;
}

@media only screen and (max-width: 480px) {
.titolBarraSuperior {
	font-size: 150%;
}
}
.withPaddingTopFooter {
	padding-top: 75px;
}
.withPaddingBottom {
	padding-bottom: 10px;
}
nav a:link, nav a:visited {
	font-weight: normal;
  font-size: 100%;
  padding: 5px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: orangered;
  color: white;
	border: 1px solid red;
  border-radius: 4px;
  cursor: pointer; cursor: hand;
}
nav a:hover, nav a:active {
  background-color: red;
  border: 1px solid orangered;
}